.drop-shadow{
    box-shadow: 0 0 3px 0 #000000;
}
.padding-small{
    padding: 12px;
}
.carousel-cont{
    background-color: rgba(0, 0, 0, 0.50);
}
.bordered-right{
    border-right: 1px solid #303030;
}
.margin-bt-small{
    margin-bottom: 12px;
}
.margin-top-small{
     margin-top: 12px;
}
.margin-top-xs{
    margin-top: 6px;
}
.margin-left-small{
    margin-left: 12px;
}
.margin-left-lg{
    margin-left: 85px;
}
.text-darken{
    color: #393939;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.63);

}
.text-darken:hover{
    color: #2a2a2a;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.63);
    text-decoration: none;
}