.drop-shadow{
    box-shadow: 0 0 3px 0 #000000;
}
.padding-small{
    padding: 12px;
}
.carousel-cont{
    background-color: rgba(0, 0, 0, 0.50);
}
.bordered-right{
    border-right: 1px solid #303030;
}
.margin-bt-small{
    margin-bottom: 12px;
}
.margin-top-small{
     margin-top: 12px;
}
.margin-top-xs{
    margin-top: 6px;
}