.drop-shadow{
    box-shadow: 0 0 3px 0 #000000;
}
.padding-small{
    padding: 12px;
}
.carousel-cont{
    background-color: rgba(0, 0, 0, 0.50);
}
.bordered-right{
    border-right: 1px solid #303030;
}
.margin-bt-small{
    margin-bottom: 12px;
}
.margin-top-small{
     margin-top: 12px;
}
.margin-top-l{
    margin-top: 42px;
}
.margin-top-xs{
    margin-top: 6px;
}
.margin-left-small{
    margin-left: 12px;
}
.margin-left-lg{
    margin-left: 85px;
}
.margin-left-m{
    margin-left: 30px;
}
.text-darken{
    color: #393939;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.63);

}
.text-darken:hover{
    color: #2a2a2a;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.63);
    text-decoration: none;
}
.anchor-links{
    color: #000000;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.63);
}
.anchor-links:hover{
    color: #2a2a2a;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.63);
    text-decoration: none;
}
.description-text{
    font-size: 17px;
    line-height: 26px;
    color: #000;
}
.btn-main{
    width: 150px;
    height: 150px;
    border-radius: 150px;
    font-size: 35px;
    box-shadow: 0 0 20px 0 #000000;
    background-color: rgba(0, 0, 0, 0);
    color: #ffffff;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.63);
    border: 3px solid #ffffff;
    cursor: default;
    float: left;
}
.btn-main:hover,.btn-main:active{
    color: #ffffff;
    cursor: default;
}
.workflow-text{
    width: 150px;
    margin-top:50px
}
.workflow-arrows{
    font-size: 26px;
    color: #ffffff;
    margin-top: 65px;
    margin-left: 24px;
}
.workflow-block{
    float: left;
    padding: 12px;
    width: 230px;
    height: 200px;
}
